<template>
  <div class="{{name}}_container">
    
  </div>
</template>

<script>
export default {
  name: "{{name}}",
  props: {},
  data() {
    return {};
  },
  methods: {
    func() {},
  },
};
</script>

<style lang="scss">
.{{name}}_container {

}
</style>
